<div *ngIf="notFound" class="fixed inset-0 z-50 flex items-center justify-center mask-bg bg-opacity-50 overflow-hidden">
    <div class="animate-fade-in-scale h-fit w-100 rounded-xl bg-white p-6 flex flex-col items-center justify-start gap-4 shadow-xl">
        <dotlottie-player
  src="https://lottie.host/f6f9b091-8bee-499c-a70c-91f865eed7ab/6N2gvcxHws.lottie"
  background="transparent"
  speed="1"
  style="width: 120px; height: 100%"
  autoplay
></dotlottie-player>
        <div class="flex flex-col gap-4">
            <div class="text-center flex flex-col gap-2">
                <p class="text-2xl font-medium text-zinc-900 ">User not found</p>

                <p class="text-sm regularext text-gray-500">The user could not be found. Please check the user ID
                    and try again.</p>
            </div>
            <button class="bg-primary text-white p-2 w-full rounded-lg cursor-pointer" (click)="closeNouser()">Ok</button>

        </div>
    </div>
</div>