<app-header></app-header>
<div class="h-full flex flex-col p-5 gap-4 max-lg:p-3">
  <div class="flex flex-col lg:flex-row w-full gap-6 rounded-2xl flex-1">
    <div
      class="flex flex-col w-4/5 gap-4 p-4 rounded-2xl bg-shadow max-lg:w-full"
    >

      <app-search (goalId)="onGoalIdFromSearch($event)"></app-search>
      <app-form
        class="h-full w-full"
        [goalSearchId]="selectedGoalId"
        (userStatusChange)="showUsernotfound($event)"
        (formValidChange)="onFormValidChange($event)"
        (formSubmitted)="handleFormSubmitted($event)"
        (formUpdate)="handleUpdateStatus($event)"
      ></app-form>
    </div>

    <div class="flex flex-col w-full h-full gap-5">
      <div
        class="flex flex-col p-4 rounded-2xl gap-4 bg-shadow"
      >
        <app-monthly-contrib
          (recommendedSaveEmitter)="onRecommendedSaveChange($event)"
        ></app-monthly-contrib>
        <app-adjustment
          [onTrack]="onTrack"
          [recommendedMonthly]="recommendedMonthlySave"
          (trackStatusEmitter)="onTrackStatusChange($event)"
        >
        </app-adjustment>
      </div>

      <app-chart class="h-full w-full"></app-chart>
    </div>
  </div>

  <div class="flex justify-center pt-2 mt-auto gap-2">
    <app-save
      *ngIf="isValid"
      [isSave]="isSaveMode"
      (click)="handleSave()"
    ></app-save>
    <app-edit
      *ngIf="isValid"
      [isEditMode]="isEditMode"
      (click)="handleEdit()"
    ></app-edit>

    <app-update
      *ngIf="isValid"
      [isUpdateMode]="isUpdateMode"
      (click)="handleUpdate()"
    ></app-update>

    <app-discard
      *ngIf="isValid"
      [isDiscard]="isDiscard"
      (click)="handleDiscard()"
    ></app-discard>
  </div>
 
  <div class="w-full text-center p-2">
    <hr class="mb-2"/>
    <p class="text-zinc-700">© 2025 Save2Settle, All Rights Reserved</p>
  </div>
</div>

<app-created-goal [goal]="showID" [data]="goalId"></app-created-goal>

<app-no-user [notFound]="Status"></app-no-user>
<app-updated-goal [Updated]="Updated"></app-updated-goal>
